html {
  height: 100%;
}
body {
  height: inherit;
  background-color:  #f5f5f5;
  height:
}

.question-wrap {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.newpost-wrap {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

#header-wrap {
  height: 60px;
  background-color: #3fa9f5;
  border-bottom: 1px solid #337ab7;
  margin-bottom: 10px;
}

#header-wrap div {
  font-size: 1.7em;
  font-weight: 800;
  letter-spacing: -3px;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  line-height: 59px;
}

#container-align {
  padding-left: 0px;
}

#footer-wrap {
  height: 60px;
  background-color: #fff;
  border-top: 1px solid #a6a6a6;
  line-height: 60px;
  margin-top: 50px;
  position: relative;
  bottom: 0;
  width: 100%;
  padding-left: 10px;
}

#footer-wrap div {
  padding-left: 0;
}

.btn {
  margin-top: 15px;
}

h2 {
  font-weight: 600;
}

.post-tile {
  margin-bottom: 10px;
  background-color: #edeefb;
}

#new-answer {
  margin-top: 20px;
  border: 1px solid #3fa9f5;
  border-radius: 10px;
  padding: 20px;
  background-color: #aae0ff;
}

.answer-btn {
  background-color: #3fa9f5;
}

#new-answer * {
  margin: 20px;
}

#new-answer h2 {
  margin-bottom: 0px;
}

.review-wrap {
  border: 1px solid #3fa9f5;
  background-color: #aae0ff;
}

.review-wrap input {
  border: 1px solid #3fa9f5;
}

.review-wrap button {
  background-color: #3fa9f5;
  color: #fff;
}


.bottom-fix {
  margin-bottom: 10px;
}
