<div id="header-wrap">
  <div id="container-align" class="container">
    <div>MessageBoard</div>
  </div>
</div>
<div class="container">
  <div class="row">
    {{outlet}}
  </div>
</div>
<div id="footer-wrap">
  <div class="container">
    <div>Thank you for coming!</div>
  </div>
</div>
