{{outlet}}

<h1>Welcome to the Message Board!</h1>
<p>This board is used for asking and answering questions!</p>

<div>
  {{#each model as |post|}}
    {{post-tile post=post update="update" destroyPost="destroyPost"}}
  {{/each}}
</div>

{{new-post savePost="savePost"}}
